<div id="toolbar">
  <div class="tools">
    <button class="toolbar-dropper"
            [style.background]="dataService.activeCursor() ? 'lightblue' : ''"
            appTooltip tooltip="dropper"
            (click)="addCursor()"
    >
      <img src="../../../../assets/color-picker.svg" alt="color-picker"/>
    </button>

    <label class="toolbar-upload-image" appTooltip tooltip="upload">
      <img src="../../../../assets/file-upload.svg" alt="file-upload"/>
      <input type="file" appFileInput (fileSelected)="onFileChange($event)">
    </label>
  </div>

  <div class="toolbar-color">
    <div class="color-box" [style.background-color]="dataService.color()"></div>
    <span class="color-value-hex">{{ dataService.color() }}</span>
    <img src="../../../../assets/copy.svg"
         alt="copy"
         appTooltip tooltip="copy"
         (click)="copyColorToClipboard()"
    />
    @if (isCopied) {
      <span class="copied-message">Coped</span>
    }
  </div>
</div>
