<div id="toolbar">
  <div class="tools">
    <button class="toolbar-dropper" appTooltip tooltip="dropper">
      <img src="../../../../assets/color-picker.svg" alt="color-picker"/>
    </button>
    <label class="toolbar-upload-image" appTooltip tooltip="upload">
      <img src="../../../../assets/file-upload.svg" alt="file-upload"/>
      <input type="file" appFileInput (fileSelected)="onFileChange($event)">
    </label>
  </div>

  <div class="toolbar-color">
    <div class="color-box"></div>
    <span class="color-value-hex">#000000</span>
    <img src="../../../../assets/copy.svg" alt="copy" appTooltip tooltip="copy"/>
  </div>
</div>
